{% extends 'administrador/administrador.html' %}

{% block title %}
Crear Rol
<h1>

        <small> {{usuario.first_name}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="../privado"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li><a href="../rol"> Rol</a></li>
        <li  href="../addrol" class="active">Crear Rol</li>
      </ol>
{% endblock title %}

{% block content %}



          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Crear Rol</a></li>

            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                  <div class="row">
                     <div class="col-xs-12">
                  <div class="box">



            <div class="box-header">
              <h3 class="box-title">Crear Rol</h3>
            </div>
            <!-- /.box-header -->

                 <div class="tab-pane" id="settings">
                <form class="form-horizontal" method="POST">
                    {%csrf_token %}

                    <table class="table table-striped">
                   {{formulario.as_table}}

                    </table>

                  <div>
                  <input type="submit" class="btn btn-success" value="Guardar" />
                      <a href="/rol" class="btn btn-primary"><b>Regresar</b></a>
                  </div>

                </form>
                    {% if message %}
      <div class='alert alert-info'>
        {{ message }}
      </div>
    {% endif %}
              </div>
      <!-- /.row -->
                  </div>
              <!-- /.tab-pane -->


              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



{% endblock content %}

{% block js %}
<
{% endblock %}
