{% extends 'administrador/administrador.html' %}

{% block title %}
Reportes
<h1>

        <small> {{usuario.first_name}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="../profile"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li  href="../temas" class="active">Reportes</li>
      </ol>
{% endblock title %}

{% block content %}



          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Top 5 ciencias</a></li>
              <li><a href="#timeline" data-toggle="tab">Temas orden Fecha</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                 <!-- Post -->
                  <div class="row">
                     <div class="col-xs-12">
                  <div class="box">

            <div class="box-header">
              <h3 class="box-title">Top 5 de temas que más respuestas tengan, agrupados por ciencia.</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>TITULO</th>
                  <th>FECHA CREACION</th>
                  <th>RESPUESTAS</th>
                    <th>ESTADO</th>
                    <th>AUTOR</th>
                    <th>CIENCIA</th>
                </tr>
                </thead>
                <tbody>
                {% if reporte3 %}
                {% for rp in reporte3 %}
                <tr>
                    <td>{{ rp.TITULO}}</td>
                    <td>{{ rp.FECHA_CREACION}}</td>
                    <td>{{ rp.NO_RESPUESTAS}}</td>
                    <td>{{ rp.ESTADO}}</td>
                    <td>{{ rp.AUTOR}}</td>
                    <td>{{ rp.CIENCIA}}</td>

                </tr>
                {% empty %}
                <tr><td colspan="4">No hay temas registrados</td></tr>
                {% endfor %}
                {% endif %}
                </tbody>
              </table>
                <a href="/RP3" class="btn btn-primary btn-block"><b>Generar Reporte</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
                <!-- /.post -->
              </div>
                  </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                 <!-- Post -->
                  <div class="row">
                     <div class="col-xs-12">
                  <div class="box">

            <div class="box-header">
              <h3 class="box-title">Listado de temas ordenados por fecha de publicación.</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="reporte4" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>TITULO</th>
                  <th>FECHA CREACION</th>
                  <th>ESTADO</th>
                    <th>AUTOR</th>
                </tr>
                </thead>
                <tbody>
                {% if reporte4 %}
                    {% for rp in reporte4 %}
                <tr>
                    <td>{{ rp.TITULO}}</td>
                    <td>{{ rp.FECHA_CREACION}}</td>
                    <td>{{ rp.NO_RESPUESTAS}}</td>
                    <td>{{ rp.ESTADO}}</td>
                    <td>{{ rp.AUTOR}}</td>

                </tr>
                {% empty %}
                <tr><td colspan="4">No hay temas registrados</td></tr>
                {% endfor %}
                {% endif %}
                </tbody>
              </table>
                <a href="/RP4/" class="btn btn-primary btn-block"><b>Generar Reporte</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

                      </div>
              </div>

              <!-- /.tab-pane -->


            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
      </div>
              </div>




{% endblock content %}

{% block js %}

{% endblock %}
