{% extends 'administrador/administrador.html' %}

{% block title %}
Roles
<h1>

        <small> {{usuario.first_name}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="../profile"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li  href="../rol" class="active">Rol</li>
      </ol>
{% endblock title %}

{% block content %}



          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Roles</a></li>

            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                  <div class="row">
                     <div class="col-xs-12">
                  <div class="box">
                      <a href="/addrol" class="btn btn-primary"><b>Crear Rol</b></a>
            <div class="box-header">
              <h3 class="box-title">Roles Existentes</h3>
            </div>
                      {% if message %}
      <div class='alert alert-info'>
        {{ message }}
      </div>
    {% endif %}
            <!-- /.box-header -->

            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Accion</th>
                </tr>
                </thead>
                <tbody>
                {% if rol %}
                {% for r in rol %}
                <tr>
                    <td>{{r.nombre}}</td>
                    <td>{{ r.descripcion}}</td>
                    <td><a title="Editar" class="fa fa-fw fa-pencil-square-o" href="/edit_rol/{{r.id}}"></a>
                      <a title="Eliminar" class="fa fa-fw fa-remove" href="/delete_rol/{{r.id}}"></a></td>
                </tr>
                {% empty %}
                <tr><td colspan="4">No hay roles registrados</td></tr>
                {% endfor %}
                {% endif %}

                </tbody>
                <tfoot>
                <tr>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Accion</th>
                </tr>

                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

      <!-- /.row -->
                  </div>
              <!-- /.tab-pane -->

              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
                <form class="form-horizontal" method="POST">
                    {%csrf_token %}
                   {{formulario.as_p}}

                  <div>
                  <input type="submit" class="btn btn-success" value="Guardar" />
                  </div>

                </form>

              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



{% endblock content %}

{% block js %}
<
{% endblock %}
