{% extends 'administrador/administrador.html' %}

{% block title %}
Control de Tema
<h1>

        <small> {{usuario.first_name}}</small>
      </h1>
      <ol class="breadcrumb">
         <li><a href="../profile"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li><a href="../profile">Mis Temas</a></li>
        <li  href="../addrol" class="active">Solucionar</li>
      </ol>
{% endblock title %}

{% block content %}



          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Solucionar Tema</a></li>

            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                  <div class="row">
                     <div class="col-xs-12">
                  <div class="box">



            <div class="box-header">
              <h2 class="box-title">Solucionar Tema</h2>
            </div>
                      <div class="box-header">
              <h4 >Titulo:  {{tema.titulo}}</h4>
            </div>

            <!-- /.box-header -->

                 <div class="tab-pane" id="settings">
                <form class="form-horizontal" method="POST">
                    {%csrf_token %}
                    <table class="table table-striped">
                        {{formulario.as_table}}
                    </table>


                  <div>
                  <input type="submit" class="btn btn-success" value="Guardar" />
                      <a href="/profile" class="btn btn-primary"><b>Regresar</b></a>
                  </div>

                </form>

              </div>
      <!-- /.row -->
                  </div>
              <!-- /.tab-pane -->


              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



{% endblock content %}

{% block js %}
<
{% endblock %}
