{% extends 'administrador/administrador.html' %}

{% block title %}
Usuarios
<h1>

        <small> {{usuario.first_name}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="../profile"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li  href="../rol" class="active">Usuario</li>
      </ol>
{% endblock title %}

{% block content %}



          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Usuarios</a></li>

            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                  <div class="row">
                     <div class="col-xs-12">
                  <div class="box">
                      <a href="/adduser" class="btn btn-primary"><b>Crear Usuario</b></a>
            <div class="box-header">
              <h3 class="box-title">Usuarios Existentes</h3>
            </div>
                      {% if message %}
      <div class='alert alert-info'>
        {{ message }}
      </div>
    {% endif %}
            <!-- /.box-header -->

            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Carne</th>
                  <th>Nombre</th>
                  <th>Administrador</th>
                  <th>Email</th>
                  <th>Telefono</th>
                  <th>Ultima Conexion</th>
                  <th>Accion</th>
                </tr>
                </thead>
                <tbody>
                {% if usuarios %}
                {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.username}}</td>
                    <td>{{ usuario.first_name}}</td>

                    {% if usuario.is_superuser %}
                    <td>Administrador</td>
                    {% else %}
                    <td>Normal</td>
                    {%endif%}
                    <td>{{ usuario.email}}</td>
                    <td>{{ usuario.telefono}}</td>
                    <td>{{ usuario.last_login}}</td>
                    <td><a title="Editar" class="fa fa-fw fa-pencil-square-o" href="/editaruser/{{usuario.id}}"></a>
                      <a title="Eliminar" class="fa fa-fw fa-remove" href="/borraruser/{{usuario.id}}"></a></td>
                </tr>
                {% empty %}
                <tr><td colspan="4">No hay roles registrados</td></tr>
                {% endfor %}
                {% endif %}
                </tbody>
                <tfoot>
                <tr>
                 <th>Carne</th>
                  <th>Nombre</th>
                  <th>Administrador</th>
                  <th>Email</th>
                  <th>Telefono</th>
                  <th>Ultima Conexion</th>
                  <th>Accion</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

      <!-- /.row -->
                  </div>
              <!-- /.tab-pane -->

              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
                <form class="form-horizontal" method="POST">
                    {%csrf_token %}
                   {{formulario.as_p}}

                  <div>
                  <input type="submit" class="btn btn-success" value="Guardar" />
                  </div>

                </form>

              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



{% endblock content %}

{% block js %}
<
{% endblock %}
