{% extends 'usuario/usuario.html' %}

{% block title %}
 <section class="content-header">
      <h1>
        404 Error Page
      </h1>
      <ol class="breadcrumb">
        <li><a href="/profile"><i class="fa fa-dashboard"></i>Perfil</a></li>
        <li class="active">404 error</li>
      </ol>
    </section>

{% endblock title %}

{% block content %}



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Buscabas Algo?.</h3>

          <p>
            Parece que no tienes acceso a esta pagina, necesitas permisos especiales.
            Mientras tanto <a href="/profile">regresar a tu perfil</a> o usa este buscador para encontrar la pagina que deseas.
          </p>

          <form class="search-form">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- /.input-group -->
          </form>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->


{% endblock content %}

{% block js %}

{% endblock %}






































